<div class="_verticalStretch">
  <header class="header">
    <div class="_bold">header block</div>
  </header>

  <main class="main">
    <dic class="nn-container">
      <div class="_bold main__title">main block</div>
      <div class="workArea">
        <div class="workArea__info">
          <div class="workArea__infoItem infoBlock">40</div>
          <div class="workArea__infoItem infoBlock">100м.кв.</div>
        </div>
        <div id="generationArea" class="generationArea">

        </div>
        <div class="workArea__tools">
          <div class="tools">
            <div class="tools__item">
              <div class="tools__changeNumber">
                <div class="changeNumber">
                  <div class="changeNumber__increase">+</div>
                  <div class="changeNumber__decrease">-</div>
                </div>
              </div>
              <div class="tools__info infoBlock js-shapesNumber">30</div>
            </div>
            <div class="tools__item">
              <div class="tools__changeNumber">
                <div class="changeNumber">
                  <div class="changeNumber__item changeNumber__increase"><div class="increase"></div></div>
                  <div class="changeNumber__item changeNumber__decrease"><div class="decrease"></div></div>
                </div>
              </div>
              <div class="tools__info infoBlock js-gravityValue">9.8</div>
            </div>
          </div>
        </div>
      </div>

    </dic>

  </main>

  <footer class="footer">
    <div class="_bold">footer block</div>
  </footer>

</div>