<div class="_verticalStretch">
  <header class="header">
    <div class="_bold">header block</div>
  </header>

  <main class="main">
    <div class="nn-container">

      <div class="_bold main__title">Kill the shape!</div>

      <div class="workArea">
        <div class="workArea__info">
          <div class="workArea__infoItem infoBlock infoBlock_withHint infoBlock_currentShapesNumber">40</div>
          <div class="workArea__infoItem infoBlock infoBlock_withHint infoBlock_surfaceArea js-surfaceField">0
            px^2</div>
        </div>

        <div id="generationArea" class="workArea__generationArea generationArea">

        </div>

        <div class="workArea__tools">

          <div class="tools">
            <div class="tools__item">
              <div class="tools__changeNumber">

                <div class="changeNumber">
                  <div class="changeNumber__item changeNumber__decrease js-decrease">
                    <div class="decrease"></div>
                  </div>
                  <div class="changeNumber__item changeNumber__increase js-increase">
                    <div class="increase"></div>
                  </div>
                </div>

              </div>
              <div class="tools__info infoBlock">
                <div class="js-shapesNumber">30</div>
              </div>
            </div>
            <div class="tools__item">
              <div class="tools__changeNumber">

                <div class="changeNumber">
                  <div class="changeNumber__item changeNumber__decrease js-decrease js-gravity">
                    <div class="decrease"></div>
                  </div>
                  <div class="changeNumber__item changeNumber__increase js-increase js-gravity">
                    <div class="increase"></div>
                  </div>
                </div>

              </div>
              <div class="tools__info infoBlock infoBlock_gravity">
                <div class="js-gravityValue">4</div>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>

  </main>

  <footer class="footer">
    <div class="_bold">footer block</div>
  </footer>

</div>